.aboutUsContainer .section {
  padding: 10vh 10vw;
}

.aboutUsContainer .section.aboutHultSection, .aboutUsContainer .section.onCampusSection, .aboutUsContainer .section.hultPrizeBitdSection {
  padding: 5vh 10vw;
}

.aboutUsContainer .section.aboutHultSection .title, .aboutUsContainer .section.onCampusSection .title, .aboutUsContainer .section.hultPrizeBitdSection .title {
  font-size: 2rem;
  font-weight: 500;
}

.aboutUsContainer .section.aboutHultSection .title span, .aboutUsContainer .section.onCampusSection .title span, .aboutUsContainer .section.hultPrizeBitdSection .title span {
  color: var(--theme-clr);
  font-weight: 500;
}

.aboutUsContainer .section.aboutHultSection .subtitle, .aboutUsContainer .section.onCampusSection .subtitle, .aboutUsContainer .section.hultPrizeBitdSection .subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 7vh;
}

.aboutUsContainer .section.aboutHultSection .text, .aboutUsContainer .section.onCampusSection .text, .aboutUsContainer .section.hultPrizeBitdSection .text {
  color: var(--light-black);
  font-size: 0.95rem;
  margin-top: 1em;
}

.aboutUsContainer .section.aboutHultSection .text a, .aboutUsContainer .section.onCampusSection .text a, .aboutUsContainer .section.hultPrizeBitdSection .text a {
  color: var(--theme-clr);
}

.aboutUsContainer .section.aboutHultSection {
  padding: 15vh 10vw 5vh;
}

.aboutUsContainer .section.hultPrizeBitdSection {
  padding: 5vh 10vw 0;
  margin-bottom: -10vh;
}

.aboutUsContainer .section.contactUsSection {
  padding: 0 10vw;
  position: relative;
  height: 100vh;
  background-image: url("../../images/dashboard/carousel/hult-prize-theme-cover.jpg");
  background-position: 0% 60%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-clip-path: polygon(0 30%, 100% 20%, 100% 80%, 0 70%);
          clip-path: polygon(0 30%, 100% 20%, 100% 80%, 0 70%);
}

.aboutUsContainer .section.contactUsSection::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.aboutUsContainer .section.contactUsSection .title {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  z-index: 2;
}

.aboutUsContainer .section.contactUsSection .title span {
  font-weight: 600;
}

.aboutUsContainer .section.contactUsSection a {
  color: #fff;
  background-color: var(--theme-clr);
  font-size: 0.9rem;
  padding: 10px 30px;
  text-decoration: none;
  border: 2px solid var(--theme-clr);
  z-index: 2;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.aboutUsContainer .section.contactUsSection a:hover {
  background-color: #fff;
  color: var(--theme-clr);
  border-color: #fff;
}

.aboutUsContainer .section.eventBulletinsSection {
  padding: 15vh 10vw 20vh;
  background-color: var(--sec-clr);
  margin-top: -5vh;
}

.aboutUsContainer .section.eventBulletinsSection .bulletinsList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 4em;
}

.aboutUsContainer .section.eventBulletinsSection .bulletinsList .singleBulletin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #fff;
  padding: 45px 20px;
  border-radius: 10px;
}

.aboutUsContainer .section.eventBulletinsSection .bulletinsList .singleBulletin i {
  color: var(--theme-clr);
  font-size: 3rem;
}

.aboutUsContainer .section.eventBulletinsSection .bulletinsList .singleBulletin .title {
  margin-top: 1em;
  font-size: 1.7rem;
}

.aboutUsContainer .section.eventBulletinsSection .bulletinsList .singleBulletin .desc {
  color: var(--light-black);
  font-size: 0.9rem;
  margin-top: 1em;
}

.aboutUsContainer .section.faqSection {
  padding: 15vh 15vw 10vh;
}

.aboutUsContainer .section.faqSection .faqsList .singleFaq .faq {
  margin: 15px 5px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.aboutUsContainer .section.faqSection .faqsList .singleFaq .faq .faqQuestion {
  position: relative;
  font-size: 1.1rem;
  padding-right: 80px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.aboutUsContainer .section.faqSection .faqsList .singleFaq .faq .faqQuestion::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url("./arrow-down-mint.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.aboutUsContainer .section.faqSection .faqsList .singleFaq .faq .faqAnswer {
  opacity: 0;
  max-height: 0;
  color: var(--light-black);
  overflow-y: hidden;
  font-size: 0.95rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.aboutUsContainer .section.faqSection .faqsList .singleFaq .faq .faqAnswer a {
  color: var(--theme-clr);
}

.aboutUsContainer .section.faqSection .faqsList .singleFaq .faq.open .faqQuestion {
  margin-bottom: 15px;
}

.aboutUsContainer .section.faqSection .faqsList .singleFaq .faq.open .faqQuestion::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.aboutUsContainer .section.faqSection .faqsList .singleFaq .faq.open .faqAnswer {
  max-height: 1000px;
  opacity: 1;
}

@media only screen and (max-width: 992px) {
  .aboutUsContainer .section {
    padding: 5vh 15px 10vh;
  }
  .aboutUsContainer .section.aboutHultSection, .aboutUsContainer .section.onCampusSection, .aboutUsContainer .section.hultPrizeBitdSection {
    padding: 0 15px;
  }
  .aboutUsContainer .section.aboutHultSection .title, .aboutUsContainer .section.onCampusSection .title, .aboutUsContainer .section.hultPrizeBitdSection .title {
    font-size: 1.8rem;
  }
  .aboutUsContainer .section.aboutHultSection .text, .aboutUsContainer .section.onCampusSection .text, .aboutUsContainer .section.hultPrizeBitdSection .text {
    font-size: 0.9rem;
  }
  .aboutUsContainer .section.aboutHultSection {
    padding: 10vh 15px 5vh;
  }
  .aboutUsContainer .section.hultPrizeBitdSection {
    padding: 5vh 15px 0;
    margin-bottom: -15vh;
  }
  .aboutUsContainer .section.contactUsSection {
    padding: 5vh 10vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .aboutUsContainer .section.contactUsSection a {
    margin-top: 2em;
    font-size: 0.8rem;
    padding: 8px 25px;
  }
  .aboutUsContainer .section.eventBulletinsSection {
    padding: 10vh 15px;
    margin-top: -10vh;
  }
  .aboutUsContainer .section.eventBulletinsSection .bulletinsList {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
  }
  .aboutUsContainer .section.faqSection {
    padding: 10vh 15px;
  }
  .aboutUsContainer .section.faqSection .faqsList .singleFaq .faq .faqQuestion {
    font-size: 1rem;
  }
  .aboutUsContainer .section.faqSection .faqsList .singleFaq .faq .faqAnswer {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=AboutUs.css.map */