.aboutUsContainer {
  .section {
    padding: 10vh 10vw;

    &.aboutHultSection,
    &.onCampusSection,
    &.hultPrizeBitdSection {
      padding: 5vh 10vw;

      .title {
        font-size: 2rem;
        font-weight: 500;

        span {
          color: var(--theme-clr);
          font-weight: 500;
        }
      }

      .text {
        color: var(--light-black);
        font-size: 0.95rem;
        margin-top: 1em;
      }
    }

    &.aboutHultSection {
      padding: 15vh 10vw 5vh;
    }

    &.hultPrizeBitdSection {
      padding: 5vh 10vw 0;
    }

    &.contactUsSection {
      padding: 0 10vw;
      position: relative;
      height: 100vh;
      background-image: url("../../images/dashboard/carousel/hult-prize-theme-cover.jpg");
      background-position: 0% 60%;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      display: flex;
      justify-content: space-between;
      align-items: center;
      clip-path: polygon(0 30%, 100% 20%, 100% 80%, 0 70%);

      &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
      }

      .title {
        color: #fff;
        font-size: 2rem;
        font-weight: 500;
        z-index: 2;

        span {
          font-weight: 600;
        }
      }

      a {
        color: #fff;
        background-color: var(--theme-clr);
        font-size: 0.9rem;
        padding: 10px 30px;
        text-decoration: none;
        border: 2px solid var(--theme-clr);
        z-index: 2;
        transition: 0.3s all ease;

        &:hover {
          background-color: #fff;
          color: var(--theme-clr);
          border-color: #fff;
        }
      }
    }

    &.eventBulletinsSection {
      padding: 0 10vw 15vh;

      .bulletinsList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4em;

        .singleBulletin {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          background-color: var(--sec-clr);
          padding: 45px 20px;
          border-radius: 10px;

          i {
            color: var(--theme-clr);
            font-size: 3rem;
          }

          .title {
            margin-top: 1em;
            font-size: 1.7rem;
          }

          .desc {
            color: var(--light-black);
            font-size: 0.9rem;
            margin-top: 1em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .aboutUsContainer {
    .section {
      padding: 5vh 15px 10vh;

      &.contactUsSection {
        padding: 5vh 10vw;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        a {
          margin-top: 2em;
          font-size: 0.8rem;
          padding: 8px 25px;
        }
      }
    }
  }
}
