.aboutUsContainer {
  .section {
    padding: 10vh 10vw;

    &.aboutHultSection,
    &.onCampusSection,
    &.hultPrizeBitdSection {
      padding: 5vh 10vw;

      .title {
        font-size: 2rem;
        font-weight: 500;

        span {
          color: var(--theme-clr);
          font-weight: 500;
        }
      }

      .text {
        color: var(--light-black);
        font-size: 0.95rem;
        margin-top: 1em;
      }
    }

    &.aboutHultSection {
      padding: 15vh 10vw 5vh;
    }

    &.hultPrizeBitdSection {
      padding: 5vh 10vw 0;
    }

    &.contactUsSection {
      padding: 0 10vw;
      position: relative;
      height: 100vh;
      background-image: url("../../images/dashboard/carousel/hult-prize-theme-cover.jpg");
      background-position: 0% 60%;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      display: flex;
      justify-content: space-between;
      align-items: center;
      clip-path: polygon(0 30%, 100% 20%, 100% 80%, 0 70%);

      &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
      }

      .title {
        color: #fff;
        font-size: 2rem;
        font-weight: 500;
        z-index: 2;

        span {
          font-weight: 600;
        }
      }

      a {
        color: #fff;
        background-color: var(--theme-clr);
        font-size: 0.9rem;
        padding: 10px 30px;
        text-decoration: none;
        border: 2px solid var(--theme-clr);
        z-index: 2;
        transition: 0.3s all ease;

        &:hover {
          background-color: #fff;
          color: var(--theme-clr);
          border-color: #fff;
        }
      }
    }

    &.eventBulletinsSection {
      padding: 15vh 10vw 20vh;
      background-color: var(--sec-clr);

      .bulletinsList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4em;

        .singleBulletin {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          background-color: #fff;
          padding: 45px 20px;
          border-radius: 10px;

          i {
            color: var(--theme-clr);
            font-size: 3rem;
          }

          .title {
            margin-top: 1em;
            font-size: 1.7rem;
          }

          .desc {
            color: var(--light-black);
            font-size: 0.9rem;
            margin-top: 1em;
          }
        }
      }
    }

    &.faqSection {
      padding: 15vh 15vw 10vh;

      .faqsList {
        .singleFaq {
          .faq {
            margin: 15px 5px;
            padding: 15px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            cursor: pointer;

            .faqQuestion {
              position: relative;
              font-size: 1.1rem;
              padding-right: 80px;
              transition: all 0.3s ease;

              &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0px;
                transform: translateY(-50%);
                width: 30px;
                height: 30px;
                background-image: url("./arrow-down-mint.svg");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                transition: all 0.3s ease;
              }
            }

            .faqAnswer {
              opacity: 0;
              max-height: 0;
              color: var(--light-black);
              overflow-y: hidden;
              font-size: 0.95rem;
              transition: all 0.3s ease;

              a {
                color: var(--theme-clr);
              }
            }

            &.open {
              .faqQuestion {
                margin-bottom: 15px;

                &::after {
                  transform: translateY(-50%) rotate(180deg);
                }
              }

              .faqAnswer {
                max-height: 1000px;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .aboutUsContainer {
    .section {
      padding: 5vh 15px 10vh;

      &.aboutHultSection,
      &.onCampusSection,
      &.hultPrizeBitdSection {
        padding: 0 15px;

        .title {
          font-size: 1.8rem;
        }

        .text {
          font-size: 0.9rem;
        }
      }

      &.aboutHultSection {
        padding: 10vh 15px 5vh;
      }

      &.hultPrizeBitdSection {
        padding: 5vh 15px 0;
        margin-bottom: -10vh;
      }

      &.contactUsSection {
        padding: 5vh 10vw;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        a {
          margin-top: 2em;
          font-size: 0.8rem;
          padding: 8px 25px;
        }
      }

      &.eventBulletinsSection {
        padding: 10vh 15px;
        margin-top: -10vh;

        .bulletinsList {
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 2em;
        }
      }

      &.faqSection {
        padding: 10vh 15px;

        .faqsList {
          .singleFaq {
            .faq {
              .faqQuestion {
                font-size: 1rem;
              }

              .faqAnswer {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
}
