.newsHeader {
  position: relative;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 5vw 20vh;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  &::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .title {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    z-index: 2;
  }

  .breadcrumbs {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
    z-index: 2;

    .breadcrumbItem {
      a {
        color: #fff;
        text-decoration: none;
      }

      &.active {
        color: var(--theme-clr);
        font-weight: 500;
      }
    }

    i {
      margin: 0 3em;
      color: #fff;
      font-size: 0.3rem;
    }
  }
}

.singleNewsContainer {
  .section {
    padding: 10vh 10vw;

    &.newsSection {
      .content {
        padding: 0 5px 15px;
        font-family: "Poppins", sans-serif !important;
        text-align: justify;
        font-size: 0.9em;

        p {
          span {
            font-family: "Poppins", sans-serif !important;
            font-size: 1.05em !important;
          }
        }
      }

      .shareButtons {
        h6 {
          font-size: 1rem;
          margin-bottom: 0.5em;
        }

        button {
          &:not(:first-child) {
            margin-left: 0.5em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .newsHeader {
    height: 50vh;
    padding: 0 8vw 15vh;
  }
}
