.homeContainer .mainCarousel {
  overflow: hidden;
}

.homeContainer .mainCarousel .owl-carousel {
  width: 100vw;
}

.homeContainer .mainCarousel .owl-carousel .item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 20vh 8vw;
}

.homeContainer .mainCarousel .owl-carousel .item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}

.homeContainer .mainCarousel .owl-carousel .item .content {
  z-index: 2;
}

.homeContainer .mainCarousel .owl-carousel .item .content .heading {
  font-size: 3.5rem;
  font-weight: 600;
}

.homeContainer .mainCarousel .owl-carousel .item .content .subHeading {
  font-size: 2.5rem;
  font-weight: 600;
}

.homeContainer .mainCarousel .owl-carousel .item .content .ctaBtn {
  display: inline-block;
  color: #fff;
  background-color: var(--theme-clr);
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 30px;
  margin-top: 1em;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.homeContainer .mainCarousel .owl-carousel .item .content .ctaBtn:hover {
  color: var(--theme-clr);
  background-color: #fff;
}

.homeContainer .section {
  padding: 10vh 10vw;
}

.homeContainer .section .ctaBtn {
  text-align: center;
  margin: 8vh 0 0;
}

.homeContainer .section .ctaBtn a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 10px 30px;
  background: transparent;
  color: var(--theme-clr);
  border: 2px solid var(--theme-clr);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.homeContainer .section .ctaBtn a:hover {
  background-color: var(--theme-clr);
  color: #fff;
}

.homeContainer .section.latestNewsSection {
  padding-bottom: 15vh;
}

.homeContainer .section.latestNewsSection .newsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 4em;
}

.homeContainer .section.latestNewsSection .newsGrid .singleNews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homeContainer .section.latestNewsSection .newsGrid .singleNews img {
  width: 100%;
  border-radius: 10px;
}

.homeContainer .section.latestNewsSection .newsGrid .singleNews .title {
  color: #000;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0.5em 0;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.homeContainer .section.latestNewsSection .newsGrid .singleNews .title:hover {
  color: var(--theme-clr);
}

.homeContainer .section.latestNewsSection .newsGrid .singleNews .date {
  font-size: 0.9rem;
}

.homeContainer .section.latestNewsSection .newsGrid .singleNews .description {
  font-size: 0.8rem;
  color: #6e6e6e;
  margin-top: 0.5em;
}

.homeContainer .section.latestNewsSection .newsGrid .singleNews:nth-child(even) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.homeContainer .section.latestNewsSection .newsGrid .singleNews:nth-child(even) .title {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  margin: 0 0 0.5em;
}

.homeContainer .section.latestNewsSection .newsGrid .singleNews:nth-child(even) .description {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin: 0 0 0.5em;
}

.homeContainer .section.latestNewsSection .newsGrid .singleNews:nth-child(even) .date {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.homeContainer .section.latestNewsSection .newsGrid .singleNews:nth-child(even) img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 1em 0 0;
}

.homeContainer .section.downloadsSection {
  background-color: var(--sec-clr);
}

.homeContainer .section.downloadsSection .downloadsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

.homeContainer .section.downloadsSection .downloadsGrid .singleDownload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 12px 12px 20px #c3c3c3;
          box-shadow: 12px 12px 20px #c3c3c3;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.homeContainer .section.downloadsSection .downloadsGrid .singleDownload .left .title {
  color: #000;
  font-size: 0.9rem;
}

.homeContainer .section.downloadsSection .downloadsGrid .singleDownload .left .date {
  color: var(--light-black);
  font-size: 0.75rem;
  margin-top: 0.5em;
}

.homeContainer .section.downloadsSection .downloadsGrid .singleDownload .right .downloadBtn {
  text-decoration: none;
  background-color: var(--theme-clr);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.75rem;
}

.homeContainer .section.downloadsSection .downloadsGrid .singleDownload:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.homeContainer .section.aboutHultSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15vh 10vw;
}

.homeContainer .section.aboutHultSection .logo img {
  width: 150px;
}

.homeContainer .section.aboutHultSection .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--light-black);
  font-size: 0.9rem;
  width: 75%;
  border-left: 2px solid var(--theme-clr);
  padding-left: 100px;
}

.homeContainer .section.aboutUsSection {
  position: relative;
  height: 30vh;
  background-image: url("../../images/dashboard/carousel/hult-prize-theme-cover.jpg");
  background-position: 0% 60%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeContainer .section.aboutUsSection::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.homeContainer .section.aboutUsSection .title {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  z-index: 2;
}

.homeContainer .section.aboutUsSection .title span {
  font-weight: 600;
}

.homeContainer .section.aboutUsSection a {
  color: #fff;
  background-color: var(--theme-clr);
  font-size: 0.9rem;
  padding: 10px 30px;
  text-decoration: none;
  border: 2px solid var(--theme-clr);
  z-index: 2;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.homeContainer .section.aboutUsSection a:hover {
  background-color: #fff;
  color: var(--theme-clr);
  border-color: #fff;
}

.homeContainer .section.sponsorsSection .sponsorsList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

.homeContainer .section.sponsorsSection .sponsorsList .singleSponsor {
  background-color: #fff;
  -webkit-box-shadow: 12px 12px 20px #d9d9d9;
          box-shadow: 12px 12px 20px #d9d9d9;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.homeContainer .section.sponsorsSection .sponsorsList .singleSponsor img {
  width: 100px;
}

.homeContainer .section.sponsorsSection .sponsorsList .singleSponsor .name {
  font-size: 1.2rem;
  font-weight: 500;
}

.homeContainer .section.sponsorsSection .sponsorsList .singleSponsor .title {
  font-size: 0.95rem;
  margin-top: 0.5em;
}

.homeContainer .section.faqSection {
  padding: 10vh 15vw;
}

.homeContainer .section.faqSection .faqsList .singleFaq .faq {
  margin: 15px 5px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.homeContainer .section.faqSection .faqsList .singleFaq .faq .faqQuestion {
  position: relative;
  font-size: 1.1rem;
  padding-right: 80px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.homeContainer .section.faqSection .faqsList .singleFaq .faq .faqQuestion::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url("./arrow-down-mint.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.homeContainer .section.faqSection .faqsList .singleFaq .faq .faqAnswer {
  opacity: 0;
  max-height: 0;
  color: var(--light-black);
  overflow-y: hidden;
  font-size: 0.95rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.homeContainer .section.faqSection .faqsList .singleFaq .faq .faqAnswer a {
  color: var(--theme-clr);
}

.homeContainer .section.faqSection .faqsList .singleFaq .faq.open .faqQuestion {
  margin-bottom: 15px;
}

.homeContainer .section.faqSection .faqsList .singleFaq .faq.open .faqQuestion::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.homeContainer .section.faqSection .faqsList .singleFaq .faq.open .faqAnswer {
  max-height: 1000px;
  opacity: 1;
}

@media only screen and (max-width: 992px) {
  .homeContainer .mainCarousel {
    overflow: hidden;
  }
  .homeContainer .mainCarousel .owl-carousel {
    width: 100vw;
  }
  .homeContainer .mainCarousel .owl-carousel .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 90vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 30px 20vh;
  }
  .homeContainer .mainCarousel .owl-carousel .item .content .heading {
    font-size: 2rem;
  }
  .homeContainer .mainCarousel .owl-carousel .item .content .subHeading {
    font-size: 1.5rem;
  }
  .homeContainer .mainCarousel .owl-carousel .item .content .ctaBtn {
    padding: 10px 30px;
    font-size: 0.9rem;
  }
  .homeContainer .section {
    padding: 5vh 15px 10vh;
  }
  .homeContainer .section .ctaBtn a {
    padding: 8px 25px;
  }
  .homeContainer .section.latestNewsSection {
    padding-bottom: 15vh;
  }
  .homeContainer .section.latestNewsSection .newsGrid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
  }
  .homeContainer .section.latestNewsSection .newsGrid .singleNews:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .homeContainer .section.latestNewsSection .newsGrid .singleNews:nth-child(even) img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
  }
  .homeContainer .section.latestNewsSection .newsGrid .singleNews:nth-child(even) .title {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0.5em 0;
  }
  .homeContainer .section.latestNewsSection .newsGrid .singleNews:nth-child(even) .date {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .homeContainer .section.latestNewsSection .newsGrid .singleNews:nth-child(even) .description {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-top: 0.5em;
  }
  .homeContainer .section.downloadsSection {
    padding: 10vh 15px;
  }
  .homeContainer .section.downloadsSection .downloadsGrid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5em;
  }
  .homeContainer .section.downloadsSection .downloadsGrid .singleDownload {
    -webkit-box-shadow: 12px 12px 15px #c3c3c3;
            box-shadow: 12px 12px 15px #c3c3c3;
  }
  .homeContainer .section.aboutHultSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10vh 15px;
  }
  .homeContainer .section.aboutHultSection .logo img {
    width: 100px;
  }
  .homeContainer .section.aboutHultSection .text {
    font-size: 0.8rem;
    width: 100%;
    border: none;
    padding: 40px 0 0;
  }
  .homeContainer .section.aboutUsSection {
    padding: 5vh 15px;
    height: 35vh;
    background-position: 0% 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .homeContainer .section.aboutUsSection a {
    margin-top: 2em;
    font-size: 0.8rem;
    padding: 8px 25px;
  }
  .homeContainer .section.sponsorsSection .sectionTitle {
    margin: 0 0 5vh;
  }
  .homeContainer .section.sponsorsSection .sponsorsList {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .homeContainer .section.sponsorsSection .sponsorsList .singleSponsor {
    -webkit-box-shadow: 12px 12px 15px #d9d9d9;
            box-shadow: 12px 12px 15px #d9d9d9;
  }
  .homeContainer .section.faqSection {
    padding: 5vh 15px;
  }
  .homeContainer .section.faqSection .faqsList .singleFaq .faq .faqQuestion {
    font-size: 1rem;
  }
  .homeContainer .section.faqSection .faqsList .singleFaq .faq .faqAnswer {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=Home.css.map */