.homeContainer {
  .mainCarousel {
    overflow: hidden;

    .owl-carousel {
      width: 100vw;

      .item {
        position: relative;
        display: flex;
        width: 100vw;
        height: 90vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        display: flex;
        align-items: flex-end;
        padding: 0 0 20vh 8vw;

        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.7);
          height: 100%;
          width: 100%;
        }

        .content {
          z-index: 2;

          .heading {
            font-size: 3.5rem;
            font-weight: 600;
          }

          .subHeading {
            font-size: 2.5rem;
            font-weight: 600;
          }

          .ctaBtn {
            display: inline-block;
            color: #fff;
            background-color: var(--theme-clr);
            text-decoration: none;
            padding: 15px 30px;
            border-radius: 30px;
            margin-top: 1em;
            transition: 0.3s all ease;

            &:hover {
              color: var(--theme-clr);
              background-color: #fff;
            }
          }
        }
      }
    }
  }

  .section {
    padding: 10vh 10vw;

    .hideBtn {
      display: none;
    }

    .ctaBtn {
      display: inline-block;
      text-align: center;
      margin: 8vh 0 0;
      font-size: 0.9rem;
      text-decoration: none;
      padding: 10px 30px;
      background: transparent;
      color: var(--theme-clr);
      border: 2px solid var(--theme-clr);
      cursor: pointer;
      transition: 0.3s all ease;

      &:hover {
        background-color: var(--theme-clr);
        color: #fff;
      }
    }

    &.latestNewsSection {
      padding-bottom: 15vh;

      .newsGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4em;

        .singleNews {
          display: flex;
          flex-direction: column;

          img {
            width: 100%;
            border-radius: 10px;
          }

          .title {
            color: #000;
            text-decoration: none;
            font-size: 1.3rem;
            font-weight: 600;
            margin: 0.5em 0;
            transition: 0.3s all ease;

            &:hover {
              color: var(--theme-clr);
            }
          }

          .date {
            font-size: 0.9rem;
          }

          .description {
            font-size: 0.8rem;
            color: #6e6e6e;
            margin-top: 0.5em;
          }

          &:nth-child(even) {
            flex-direction: column-reverse;

            .title {
              order: 4;
              margin: 0 0 0.5em;
            }

            .description {
              order: 3;
              margin: 0 0 0.5em;
            }

            .date {
              order: 2;
            }

            img {
              order: 1;
              margin: 1em 0 0;
            }
          }
        }
      }
    }

    &.downloadsSection {
      background-color: var(--sec-clr);

      .downloadsGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;

        .singleDownload {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #fff;
          padding: 15px;
          border-radius: 10px;
          text-decoration: none;
          transition: 0.3s all ease;

          .left {
            .title {
              color: #000;
              font-size: 0.9rem;
            }

            .date {
              color: var(--light-black);
              font-size: 0.75rem;
              margin-top: 0.5em;
            }
          }

          .right {
            .downloadBtn {
              text-decoration: none;
              background-color: var(--theme-clr);
              color: #fff;
              padding: 5px 10px;
              border-radius: 5px;
              font-size: 0.75rem;
            }
          }

          &:hover {
            transform: scale(1.03) !important;
          }
        }
      }
    }

    &.aboutHultSection {
      display: flex;
      justify-content: space-between;
      padding: 15vh 10vw 0;

      .logo {
        img {
          width: 150px;
        }
      }

      .text {
        display: flex;
        align-items: center;
        color: var(--light-black);
        font-size: 0.9rem;
        width: 75%;
        border-left: 2px solid var(--theme-clr);
        padding-left: 140px;
      }
    }

    &.contactUsSection {
      padding: 0 10vw;
      position: relative;
      height: 100vh;
      background-image: url("../../images/dashboard/carousel/hult-prize-theme-cover.jpg");
      background-position: 0% 60%;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      display: flex;
      justify-content: space-between;
      align-items: center;
      clip-path: polygon(0 30%, 100% 20%, 100% 80%, 0 70%);

      &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
      }

      .title {
        color: #fff;
        font-size: 2rem;
        font-weight: 500;
        z-index: 2;

        span {
          font-weight: 600;
        }
      }

      div {
        z-index: 2;
      }

      a {
        color: #fff;
        background-color: var(--theme-clr);
        font-size: 0.9rem;
        padding: 10px 30px;
        text-decoration: none;
        border: 2px solid var(--theme-clr);
        transition: 0.3s all ease;

        &:hover {
          background-color: #fff;
          color: var(--theme-clr);
          border-color: #fff;
        }
      }
    }

    &.sponsorsSection {
      padding: 0 10vw 10vh;

      .sponsorsList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4em;

        .singleSponsor {
          background-color: var(--sec-clr);
          border-radius: 10px;
          padding: 15px;
          text-align: center;

          img {
            width: 100px;
          }

          .name {
            font-size: 1.2rem;
            font-weight: 500;
          }

          .title {
            font-size: 0.95rem;
            margin-top: 0.5em;
          }
        }
      }
    }

    &.faqSection {
      padding: 10vh 15vw;

      .faqsList {
        .singleFaq {
          .faq {
            margin: 15px 5px;
            padding: 15px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            cursor: pointer;

            .faqQuestion {
              position: relative;
              font-size: 1.1rem;
              padding-right: 80px;
              transition: all 0.3s ease;

              &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0px;
                transform: translateY(-50%);
                width: 30px;
                height: 30px;
                background-image: url("./arrow-down-mint.svg");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                transition: all 0.3s ease;
              }
            }

            .faqAnswer {
              opacity: 0;
              max-height: 0;
              color: var(--light-black);
              overflow-y: hidden;
              font-size: 0.95rem;
              transition: all 0.3s ease;

              a {
                color: var(--theme-clr);
              }
            }

            &.open {
              .faqQuestion {
                margin-bottom: 15px;

                &::after {
                  transform: translateY(-50%) rotate(180deg);
                }
              }

              .faqAnswer {
                max-height: 1000px;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .homeContainer {
    .mainCarousel {
      overflow: hidden;

      .owl-carousel {
        width: 100vw;

        .item {
          display: flex;
          height: 90vh;
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
          display: flex;
          align-items: flex-end;
          justify-content: center;
          padding: 0 30px 20vh;

          .content {
            .heading {
              font-size: 2rem;
            }

            .subHeading {
              font-size: 1.5rem;
            }

            .ctaBtn {
              padding: 10px 30px;
              font-size: 0.9rem;
            }
          }
        }
      }
    }

    .section {
      padding: 5vh 15px 10vh;

      .ctaBtn {
        a {
          padding: 8px 25px;
        }
      }

      &.latestNewsSection {
        padding-bottom: 15vh;

        .newsGrid {
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 2em;

          .singleNews {
            &:nth-child(even) {
              flex-direction: column;

              img {
                order: 1;
                margin: 0;
              }

              .title {
                order: 2;
                margin: 0.5em 0;
              }

              .date {
                order: 3;
              }

              .description {
                order: 4;
                margin-top: 0.5em;
              }
            }
          }
        }
      }

      &.downloadsSection {
        padding: 10vh 15px;

        .downloadsGrid {
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 1.5em;
        }
      }

      &.aboutHultSection {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10vh 15px 0;
        margin-bottom: -10vh;

        .logo {
          img {
            width: 100px;
          }
        }

        .text {
          font-size: 0.8rem;
          width: 100%;
          border: none;
          padding: 40px 0 0;
        }
      }

      &.contactUsSection {
        padding: 5vh 10vw;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        div {
          margin-top: 2em;
        }

        a {
          font-size: 0.8rem;
          padding: 8px 25px;
        }
      }

      &.sponsorsSection {
        padding: 0 15px 10vh;
        margin-top: -10vh;

        .sectionTitle {
          margin: 0 0 5vh;
        }

        .sponsorsList {
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 2em;
        }
      }

      &.faqSection {
        padding: 0 15px 5vh;

        .faqsList {
          .singleFaq {
            .faq {
              .faqQuestion {
                font-size: 1rem;
              }

              .faqAnswer {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
}
