.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 10vw;
  z-index: 2;
}

.navbar .mobileNavbar {
  display: none;
}

.navbar .desktopNavbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navbar .desktopNavbar .navbarLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .desktopNavbar .navbarLeft .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .desktopNavbar .navbarLeft .logo img {
  width: 150px;
}

.navbar .desktopNavbar .navbarLeft .links {
  margin-left: 3em;
}

.navbar .desktopNavbar .navbarLeft .links a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.navbar .desktopNavbar .navbarLeft .links a:hover {
  color: var(--theme-clr);
}

.navbar .desktopNavbar .navbarLeft .links a:not(:first-child) {
  margin-left: 2em;
}

.navbar .desktopNavbar .navbarRight .social a {
  color: #fff;
  font-size: 1.1rem;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.navbar .desktopNavbar .navbarRight .social a:hover {
  color: var(--theme-clr);
}

.navbar .desktopNavbar .navbarRight .social a:not(:first-child) {
  margin-left: 1em;
}

@media only screen and (max-width: 992px) {
  .navbar {
    padding: 0 30px;
    height: 8vh;
  }
  .navbar .mobileNavbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
  .navbar .mobileNavbar .hamburger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
    z-index: 3;
  }
  .navbar .mobileNavbar .hamburger .line {
    height: 3px;
    background-color: #fff;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  .navbar .mobileNavbar .hamburger .line1 {
    width: 15px;
  }
  .navbar .mobileNavbar .hamburger .line2 {
    margin-top: 0.4em;
    width: 30px;
  }
  .navbar .mobileNavbar .hamburger .line3 {
    margin-top: 0.4em;
    width: 15px;
    margin-left: 15px;
  }
  .navbar .mobileNavbar .hamburger.true .line1 {
    margin-left: 15px;
  }
  .navbar .mobileNavbar .hamburger.true .line3 {
    margin-left: 0;
  }
  .navbar .mobileNavbar .logo img {
    width: 150px;
  }
  .navbar .desktopNavbar {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: var(--theme-clr);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    left: -100%;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  .navbar .desktopNavbar.true {
    left: 0;
  }
  .navbar .desktopNavbar .navbarLeft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .desktopNavbar .navbarLeft .logo {
    display: none;
  }
  .navbar .desktopNavbar .navbarLeft .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
    height: 30vh;
    margin-left: 0;
  }
  .navbar .desktopNavbar .navbarLeft .links a {
    font-size: 0.9rem;
  }
  .navbar .desktopNavbar .navbarLeft .links a:hover {
    color: #000;
  }
  .navbar .desktopNavbar .navbarLeft .links a:not(:first-child) {
    margin-left: 0;
  }
  .navbar .desktopNavbar .navbarRight .social a:hover {
    color: #000;
  }
  .navbar .desktopNavbar .navbarRight .social a:not(:first-child) {
    margin-left: 1em;
  }
}
/*# sourceMappingURL=Navbar.css.map */