@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
:root {
  --theme-clr: #eb386e;
  --sec-theme: #3e1f92;
  --sec-clr: #f0f2f5;
  --light-black: #6e6e6e;
  --dark-white: #a7a6a6;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: var(--theme-clr);
  color: #fff;
}

::selection {
  background-color: var(--theme-clr);
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.textWhite {
  color: #fff;
}

.textBlack {
  color: #000;
}

.textTheme {
  color: var(--theme-clr);
}

.sectionTitle {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0 0 10vh;
}

.sectionTitle span {
  color: var(--theme-clr);
  font-weight: 500;
}

button {
  cursor: pointer;
  outline: none;
}

.grid2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}

.grid3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

.mt1 {
  margin-top: 1em;
}

.mt2 {
  margin-top: 2em;
}

.inputGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.inputGroup input {
  background-color: inherit;
  color: #000;
  font-size: 1em;
  padding: 10px 10px;
  border: none;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  outline: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.inputGroup input::-webkit-input-placeholder {
  opacity: 0;
}

.inputGroup input:-ms-input-placeholder {
  opacity: 0;
}

.inputGroup input::-ms-input-placeholder {
  opacity: 0;
}

.inputGroup input::placeholder {
  opacity: 0;
}

.inputGroup input:focus, .inputGroup input:not(:placeholder-shown) {
  border-color: var(--sec-theme);
}

.inputGroup input:focus ~ label, .inputGroup input:not(:placeholder-shown) ~ label {
  -webkit-transform: translate(10px, -33px) scale(0.9);
          transform: translate(10px, -33px) scale(0.9);
  color: var(--sec-theme);
  padding: 0 5px;
  font-weight: 500;
}

.inputGroup label {
  position: absolute;
  padding: 0 20px;
  margin-bottom: 2px;
  color: darkgray;
  background-color: #fff;
  -webkit-transform: translate(4px, -11px) scale(1.02);
          transform: translate(4px, -11px) scale(1.02);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.inputGroup select {
  border: none;
  margin: 1.5em 0 0;
  border-bottom: 2px solid #000;
  padding-bottom: 14px;
  padding-left: 10px;
  outline: none;
  cursor: pointer;
}

.inputGroup button {
  padding: 10px 30px;
  background-color: var(--sec-theme);
  border: 2px solid var(--sec-theme);
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.9rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  color: #fff;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.inputGroup button:hover {
  color: var(--sec-theme);
  background-color: #fff;
}

.inputGroup.textarea input {
  height: 200px;
}

.inputGroup.textarea input:focus ~ label, .inputGroup.textarea input:not(:placeholder-shown) ~ label {
  -webkit-transform: translate(10px, -183px) scale(0.9);
          transform: translate(10px, -183px) scale(0.9);
}

.inputGroup.textarea label {
  -webkit-transform: translate(4px, -150px) scale(1.02);
          transform: translate(4px, -150px) scale(1.02);
}

input[type="radio"] {
  position: relative;
}

input[type="radio"]::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid var(--dark-white);
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

input[type="radio"]:checked::after {
  display: -ms-grid;
  display: grid;
  place-items: center;
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 0.8rem;
  border-color: var(--sec-theme);
  color: #fff;
  background-color: var(--sec-theme);
}

.inputRadio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputRadio label {
  margin-left: 1.5em;
  font-size: 0.9rem;
}

@media only screen and (max-width: 992px) {
  .sectionTitle {
    font-size: 2rem;
    margin: 0 0 10vh;
  }
  .sectionTitle span {
    color: var(--theme-clr);
    font-weight: 500;
  }
  .grid2 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .grid3 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid3 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=App.css.map */