@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

:root {
  --theme-clr: #eb386e;
  --sec-clr: #e5e5e5;
  --light-black: #6e6e6e;
  --dark-white: #a7a6a6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  scroll-behavior: smooth;
}

.textWhite {
  color: #fff;
}

.textBlack {
  color: #000;
}

.textTheme {
  color: var(--theme-clr);
}

.sectionTitle {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0 0 10vh;

  span {
    color: var(--theme-clr);
    font-weight: 500;
  }
}

button {
  cursor: pointer;
  outline: none;
}

@media only screen and (max-width: 992px) {
  .sectionTitle {
    font-size: 2rem;
    margin: 0 0 10vh;

    span {
      color: var(--theme-clr);
      font-weight: 500;
    }
  }
}
